*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-light: #c7c9c6;
  --primary-light-glass: rgba(202, 230, 209, 0.3);
  --primary-dark: #2e2e2c;

  --surface-light: rgba(175, 189, 187, 0.6);
  --surface-elevated: rgba(104, 107, 106, 0.3);
  --surface: rgba(75, 77, 76, 0.4);
  --surface-inset: rgb(139, 143, 142);

  --secondary-hover: rgba(48, 177, 209, 0.5);

  --secondary-dark: #222222;

  --secondary-light-glass: rgba(175, 226, 218, 0.3);

  --surface-interactive-primary: rgba(202, 230, 209, 0.88);
  --surface-interactive-secondary: rgba(49, 48, 48, 0.88);
  --surface-interactive-tertiary: rgba(236, 248, 192, 0.88);
  --surface-interactive-warning: rgba(240, 203, 203, 0.8);
  --surface-interactive-info: rgba(198, 234, 237, 0.7);
  --surface-interactive-success: rgba(191, 230, 207, 0.7);

  --surface-frosted: rgba(255, 255, 255, 0.8);

  --text-light: #ddf1f1;
  --text-tertiary-light: rgba(236, 248, 192);
  --text-primary: #757575;
  --text-secondary: #3c7179;
}
